.img_gouwuche_logo{
    position: absolute;
    top: 30px;
    left: 90px;
}

.img_liucheng{
    position: absolute;
    top: 30px;
    left: 460px;
    width: 700px;
    height: 70px;
}

.orange-line{
    border: 2px solid orangered;
    width: 100%;
    position: absolute;
    top:18%
}

.cart-table {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.product-checkbox {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.price-drop {
    color: red;
    display: block;
    margin-top: 5px;
}

.quantity-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-minus,
.quantity-plus {
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
}

.quantity-input {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

.product-operations div {
    margin-top: 5px;
    cursor: pointer;
}

.bottom-total {
    position: absolute;
    top: 100%;
    left: 1000px;
    margin-top: 20px;
    text-align: right;
}

.checkout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}